# PANDA

In [2]:
# Importing panda
import pandas as pd

In [48]:
# loading a .csv file
df1 = pd.read_csv('data.csv')

In [49]:
df1

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,HWF_0001,"Medical doctors (per 10,000)",numeric,AFR,Africa,Country,NER,Niger,Year,2023,...,NaN,NaN,NaN,NaN,NaN,0.38,NaN,"NHWA data portal, December 2024 update https:/...",EN,2025-01-14 00:00:00
1,HWF_0001,"Medical doctors (per 10,000)",numeric,WPR,Western Pacific,Country,PNG,Papua New Guinea,Year,2023,...,NaN,NaN,NaN,NaN,NaN,0.61,NaN,"NHWA data portal, December 2024 update https:/...",EN,2025-01-14 00:00:00
2,HWF_0001,"Medical doctors (per 10,000)",numeric,AFR,Africa,Country,CAF,Central African Republic,Year,2023,...,NaN,NaN,NaN,NaN,NaN,0.74,NaN,"NHWA data portal, December 2024 update https:/...",EN,2025-01-14 00:00:00
3,HWF_0001,"Medical doctors (per 10,000)",numeric,AFR,Africa,Country,TCD,Chad,Year,2023,...,NaN,NaN,NaN,NaN,NaN,0.85,NaN,"NHWA data portal, December 2024 update https:/...",EN,2025-01-14 00:00:00
4,HWF_0001,"Medical doctors (per 10,000)",numeric,AFR,Africa,Country,GMB,Gambia,Year,2023,...,NaN,NaN,NaN,NaN,NaN,0.9,NaN,"NHWA data portal, December 2024 update https:/...",EN,2025-01-14 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14003,HWF_0005,Medical doctors not further defined (number),numeric,EUR,Europe,Country,GBR,United Kingdom of Great Britain and Northern I...,Year,1960,...,NaN,NaN,NaN,NaN,NaN,44 457,NaN,"NHWA data portal, December 2024 update https:/...",EN,2025-01-14 00:00:00
14004,HWF_0005,Medical doctors not further defined (number),numeric,EUR,Europe,Country,PRT,Portugal,Year,1960,...,NaN,NaN,NaN,NaN,NaN,6701,NaN,"NHWA data portal, December 2024 update https:/...",EN,2025-01-14 00:00:00
14005,HWF_0005,Medical doctors not further defined (number),numeric,EUR,Europe,Country,CHE,Switzerland,Year,1960,...,NaN,NaN,NaN,NaN,NaN,7442,NaN,"NHWA data portal, December 2024 update https:/...",EN,2025-01-14 00:00:00
14006,HWF_0005,Medical doctors not further defined (number),numeric,EUR,Europe,Country,TUR,Türkiye,Year,1960,...,NaN,NaN,NaN,NaN,NaN,8214,NaN,"NHWA data portal, December 2024 update https:/...",EN,2025-01-14 00:00:00
14007,HWF_0005,Medical doctors not further defined (number),numeric,WPR,Western Pacific,Country,JPN,Japan,Year,1960,...,NaN,NaN,NaN,NaN,NaN,96 038,NaN,"NHWA data portal, December 2024 update https:/...",EN,2025-01-14 00:00:00

In [51]:
print(df1[['ParentLocation', 'Location', 'Period', 'DateModified']])

        ParentLocation                                           Location  \
0               Africa                                              Niger
1      Western Pacific                                   Papua New Guinea
2               Africa                           Central African Republic
3               Africa                                               Chad
4               Africa                                             Gambia
...                ...                                                ...
14003           Europe  United Kingdom of Great Britain and Northern I...
14004           Europe                                           Portugal
14005           Europe                                        Switzerland
14006           Europe                                            Türkiye
14007  Western Pacific                                              Japan

       Period         DateModified
0        2023  2025-01-14 00:00:00
1        2023  2025-01-14 00:00:00
2        2023  2025-01-14 00:00:00
3        2023  2025-01-14 00:00:00
4        2023  2025-01-14 00:00:00
...       ...                  ...
14003    1960  2025-01-14 00:00:00
14004    1960  2025-01-14 00:00:00
14005    1960  2025-01-14 00:00:00
14006    1960  2025-01-14 00:00:00
14007    1960  2025-01-14 00:00:00

[14008 rows x 4 columns]

# PANDA Data Structure

## Series
<p>One Dimensional labeled array</p>

In [25]:
# Creating a series from a list
seriesData = [10,20, 30, 40, 50]
mySeries = pd.Series(seriesData)
print(mySeries)

0    10
1    20
2    30
3    40
4    50
dtype: int64

### Accessing elements in a series

In [26]:
# By Label
print(mySeries[2])

30

In [27]:
# By position
print(mySeries.iloc[2])

30

In [28]:
# Accessing multiple elements
print(mySeries[1:4])

1    20
2    30
3    40
dtype: int64

## DataFrames
<p>A two-dimensional labeled data structure with columns of potentially different data types.</p>

In [3]:
# creating dataFrames
frameData = {'Names': ['Innocent','Chidinma','Tamuno','Shola','Joy'],
             'Age': [30,29,28,30,27],
             'City': ['Woji','Awka','Choba','Artillery','Onitsha']}
df = pd.DataFrame(frameData)
print(df)

      Names  Age       City
0  Innocent   30       Woji
1  Chidinma   29       Awka
2    Tamuno   28      Choba
3     Shola   30  Artillery
4       Joy   27    Onitsha

In [6]:
frameData['Gender'] = ['Male', 'Female', 'Female', 'Male', 'Female']
frameData

{'Names': ['Innocent', 'Chidinma', 'Tamuno', 'Shola', 'Joy'],
 'Age': [30, 29, 28, 30, 27],
 'City': ['Woji', 'Awka', 'Choba', 'Artillery', 'Onitsha'],
 'Gender': ['Male', 'Female', 'Female', 'Male', 'Female']}

In [32]:
# Column Selection >>>> using the column name as key but in quote
print(df['Age'])

0    30
1    29
2    28
3    30
4    27
Name: Age, dtype: int64

In [37]:
# Accessing Rows  >>>> By using .iloc[] or loc[]
# .iloc[] for accessing rows by index
print(df.iloc[2])

# .loc[] for accessing by label
print("\n",df.loc[3])

Names    Tamuno
Age          28
City      Choba
Name: 2, dtype: object

 Names        Shola
Age             30
City     Artillery
Name: 3, dtype: object

In [38]:
# Slicing
print(df[['Names', 'Age']])  # Select specific columns

      Names  Age
0  Innocent   30
1  Chidinma   29
2    Tamuno   28
3     Shola   30
4       Joy   27

In [39]:
# select specific rows
print(df[1:3])

      Names  Age   City
1  Chidinma   29   Awka
2    Tamuno   28  Choba

In [44]:
print(df.iloc[1,2])

Awka

In [45]:
# finding Unique elements
uniqueNames = df['Names'].unique()
uniqueNames

array(['Innocent', 'Chidinma', 'Tamuno', 'Shola', 'Joy'], dtype=object)

In [46]:
# Saving DataFrames to a CSV file
df.to_csv('panda_dataFrames.csv', index = False)

In [7]:
df = pd.DataFrame(frameData)
print(df)

      Names  Age       City  Gender
0  Innocent   30       Woji    Male
1  Chidinma   29       Awka  Female
2    Tamuno   28      Choba  Female
3     Shola   30  Artillery    Male
4       Joy   27    Onitsha  Female

In [8]:
df.head()

      Names  Age       City  Gender
0  Innocent   30       Woji    Male
1  Chidinma   29       Awka  Female
2    Tamuno   28      Choba  Female
3     Shola   30  Artillery    Male
4       Joy   27    Onitsha  Female

In [11]:
df[['Age']].mean()

Age    28.8
dtype: float64